<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{label.nav.home}">Home</title>
</head>

<div layout:fragment="content">
    <div class="page-header mt-3">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title" th:text="#{label.photo.latest}">Latest Photos</h2>
            </div>
            <div class="col-auto">
                <a href="/photos/upload" class="btn btn-primary" th:title="#{label.btn.upload}" hx-boost="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-upload">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                        <path d="M7 9l5 -5l5 5" />
                        <path d="M12 4l0 12" />
                    </svg>
                    <span th:text="#{label.btn.upload}"></span>
                </a>
            </div>
        </div>
    </div>

    <div th:replace="~{photo/list :: photoCards(${latestPhotos}, #{msg.photo.list.empty.latest})}"></div>
</div>
</html>
